.embedded .graphiql-container .topBarWrap {
    display: none;
 }

.embedded .graphiql-container .variable-editor {
    display: none;
}

.bordered {
    height: 200px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}