.App {
  /*text-align: center;*/
  height: 100%
}

.App-logo {
  height: 40px;
  width: 120px;
  margin-top: 12px;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 50ms ease-in;
}